<%= form_for(@subcategory) do |f| %>
  <% if @subcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcategory.errors.count, "error") %> prohibited this subcategory from being saved:</h2>

      <ul>
      <% @subcategory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  
  <div class="form-group">
  <% options = options_from_collection_for_select(Category.all, 'id', 'description') %>
  <%= f.select :category_id, options, :input_html => { class: "form-control" } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
