<h3>Products</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Label</th>
      <th>Grade</th>
	  <th>Pack Size</th>
	  <th>Spec Sheet</th>
	  <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.pname %></td>
		<td><%= product.label %></td>
		<td><%= product.grade %></td>
		<td><%= product.pack_size %></td>
		<td>
			<% if product.document.file? %>
			  <%= link_to 'Spec Sheet (PDF)', product.document.url, :target => "_blank" %>
			<% end %>
		</td>
		<td><%= link_to 'Show', product_path(product) %></td>
		<% if product.user == current_user %>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>




