<p id="notice"><%= notice %></p>
<%= image_tag @product.image.url (:large) %>
	<h3><%= @product.pname %></h3>
  	<p>
	  <%= @product.description %><br>
	  <b>Label: &nbsp<%= @product.label %><br>
	  <b>Grade: &nbsp<%= @product.grade %><br>
	  <b>Pack Size: &nbsp<%= @product.label %><br>  
			<% if @product.document.file? %>
			  <%= link_to 'Spec Sheet (PDF)', @product.document.url, :target => "_blank" %><br>
			<% end %>
	</p><br>
<% if @product.user == current_user %>
      <%= link_to edit_product_path(@product) do %>
        <span class="glyphicon glyphicon-edit"></span>
        Edit
      <% end %> |
<% end %>
<%= link_to 'Back', products_path %>